name: github pages

on:
  push:
    branches:
      - master
  workflow_dispatch: 

jobs:
  deploy:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x
      - name: Restore dependencies
        run: dotnet workload install wasm-tools && dotnet restore ./MementoMoriData.UI/MementoMoriData.UI.csproj
      - name: Build
        run: dotnet build ./MementoMoriData.UI/MementoMoriData.UI.csproj --no-restore
      - name: Publish
        run: dotnet publish ./MementoMoriData.UI/MementoMoriData.UI.csproj -c Release -r browser-wasm -p:RunAOTCompilation=true -p:WasmStripILAfterAOT=true -o ./publish/
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/master'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./publish/wwwroot/